@inherits LayoutComponentBase

<div class="main-layout">
  <header class="main-layout__header">
    
  </header>
  
  <nav class="main-layout__nav">
    
  </nav>
  
  <main class="main-layout__page-container">
    @Body
  </main>
</div>